<% @overallconfig.each do |o| %>
 <h1><%= o.title %></h1>
<% end %>

<% @artistname.each do |a| %> 
 <nav><%= a.name %>
<% end %>
<% @musictitle.each do |m| %> 
 <p><%= m.title %>
   <%= link_to m.video_url.to_s do %>
   <%= image_tag(m.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
<% end %></p>
<hr> 

<% end %>
